# Ignore possible build & documentation
docs/_build/
build/
dist/
*egg-info/
MANIFEST

# Ignore temp files
*.pyc
*.save
*.bak
.*.swp
*~

# Ignore OSX .DS_Store files
*.DS_Store

# Test files to ignore
tests/cproj/install
tests/cproj/cproj/*.pxd
tests/cproj/cproj/*.pyx
tests/cproj/cproj/cproj_extra_types.h

tests/cppproj/install
tests/cppproj/cppproj/*.pxd
tests/cppproj/cppproj/*.pyx
tests/cppproj/cppproj/cppproj_extra_types.h
tests/cppproj/cppproj/tests/test_dt.py
tests/cppproj/cppproj/tests/test_stlc.py

# Doc build files to ignore
docs/mypack/mypack/hoover.cpp
docs/mypack/mypack/hoover_b.cpp
docs/mypack/mypack/mypack_extra_types.cpp
docs/mypack/mypack/mypack_extra_types.h
docs/mypack/mypack/stlcontainers.cpp
