# Ignore possible build & documentation
docs/_build/
build/
dist/
*egg-info/
MANIFEST

# Ignore temp files
*.pyc
*.save
*.bak
.*.swp
*~

# Ignore OSX .DS_Store files
*.DS_Store

# Test files to ignore
tests/cproj/install
tests/cproj/cproj/*.pxd
tests/cproj/cproj/*.pyx
tests/cproj/src/cproj_extra_types.h

tests/cppproj/install
tests/cppproj/cppproj/*.pxd
tests/cppproj/cppproj/*.pyx
tests/cppproj/cppproj/tests/test_stlc.py

